.form-container {
    margin: 40px auto;
    width: 450px;
    border: 1px solid;
    /* padding: 20px; */
    /* overflow: hidden; */
    padding: 0px 30px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.form-container h1 {
    text-align: center;
}

.form-control {
    width: 100%;
    margin-bottom: 20px;
}

.form-control label {
    display: block;
}

.form-control>input {
    width: 100%;
    /* height: 50px; */
    outline: none;
    height: 45px;
    font-size: 16px;
    padding-left: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
}

.submit-btn {
    width: 100%;
    height: 50px;
    font-size: 18px;
}

.form-footer-text {
    text-align: center;
}